---
// Component Imports
import Location from '../components/Location.vue';
// Component Script:
let title = 'PioneerFi';
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<style global lang="scss">
		@import "../styles/global.scss";
	</style>
	<style lang="scss">
		header {
			display: flex;
			flex-direction: column;
			gap: 1em;
			max-width: min(100%, 68ch);
			img {
				height: 4em;
			}
			margin-bottom: 2rem;
		}
		main {
			width: 100%;
			max-width: 1000px;
		}
	</style>
</head>
<body>
	<header>
		<div>
			<img src="/assets/logo.svg" alt="PioneerFi logo">
		</div>
	</header>
	<main>
		<Location name="McLeod's Classroom (APCS/Java) - Room 314" client:load />
		<Location name="Ferrante's Classroom (APCS/Java) - Room 307" client:load />
		<Location name="Paris's Classroom (Chem/AP Chem) - Room 507" client:load />
		<Location name="Cheung's Classroom (Chem H/AP Chem) - Room 502" client:load />
		<Location name="Rothlisberg's Classroom (Chem/Chem H) - Room 503" client:load />
		<Location name="Tsai's Classroom (APCS/Java) - Room 420" client:load />
		<Location name="Library" client:load />
	</main>
</body>
</html>